@page
@model IndexModel
@{
    ViewData["Title"] = "Min att göra lista";
}

<div class="text-left">
    @*<p>To-Do List for @Model.UserName</p>*@
    <h1 class="display-4">MY TASKS</h1>

    @if (Model.Tasks.Any())
    {
        <table class="paddingtop">
            <thead>
                <tr> 
                    <th class="paddingtop" style="color:dodgerblue">TO-DO</th>
                    <th class="paddingtop" style="color:dodgerblue">DONE</th>
                </tr>
            </thead>
            <tbody class="paddingbottom">
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td><a asp-page-handler="Remove" asp-route-id="@item.ID">Done</a></td>
                       
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no tasks on the list.</p>
    }
    <h4 class="paddingtop" style="color:dodgerblue">ADD A TASK</h4>
    <form method="post">
        <input asp-for="NewTask.UserId" type="hidden" value="@Model.UserId"  />
        <div class="form-group">
            <input asp-for="NewTask.Description" placeholder="Title..." />
        </div>

        <div class="form-group">
            <input type="submit" value="Add" style="color:dodgerblue" />
        </div>
    </form>
</div>
