@page
@model IndexModel
@{
    ViewData["Title"] = "Min att göra lista";
}

<div class="text-center">
    <p>To-Do List for @Model.UserName</p>
    <h1 class="display-4">My To-Do's:</h1>

    @if (Model.Tasks.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>To-Do</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td><a asp-page-handler="Remove" asp-route-id="@item.ID">Done</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no tasks on the list.</p>
    }
    <h4>Add a task to the list</h4>
    <form method="post">
        <input asp-for="NewTask.UserId" type="hidden" value="@Model.UserId" />
        <div class="form-group">
            <input asp-for="NewTask.Description" />
        </div>

        <div class="form-group">
            <input type="submit" value="Add" />
        </div>
    </form>
</div>
